* {
  list-style: none;
  text-align: center;
  padding: 0;
}

#pokedex {
  display: grid;
  grid-gap: 1rem;
  margin: 0 7em;
}

#pokedex li {
  text-transform: capitalize;
  border: solid 1px;
  border-color: lightgrey;
  border-radius: 0.5em;
  color: rgb(100, 100, 100);
}

#pokedex li:hover {
  background-color: rgba(243, 119, 3, 0.705);
  border-color: rgb(110, 105, 105);
  opacity: 0.7;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (min-width: 531px) {
  #pokedex {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 12em;
  }
}
